@import "src/utilities.scss";

.preview {
  height: 100vh;
  background: #222c31;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 660px) {
    padding: 1rem;
  }

  &__item-name {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
  }

  &__item-sprite {
    width: px-to-rem(400);
    height: px-to-rem(250);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 4rem auto;

    @media (max-width: 440px) {
      width: px-to-rem(300);
    }
  }

  &__open-chest-btn {
    width: px-to-rem(250);
    height: px-to-rem(50);
    display: block;
    margin: auto;
    background: #00ecb3;
    color: #111;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }

  &__cd-key {
    display: flex;
    flex-flow: column;

    p {
      background: #39484e;
      padding: 1rem;
      color: #fff;
      font-weight: bold;
      text-align: center;
      width: 320px;
      margin: auto;
      border-radius: 10px;
    }

    span {
      color: #00ecb3;
      text-align: center;
      margin-bottom: px-to-rem(5);
    }
  }

  &__nothing-selected {
    display: none;
    color: #fff;
    opacity: 0.2;
    font-weight: bold;

    @media (max-width: 825px) {
      display: block;
    }
  }
}

.close-btn {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}
