@import "src/utilities.scss";

.inventory-group {
  &__list-item {
    width: px-to-rem(80);
    height: px-to-rem(80);
    border: px-to-rem(3) solid #39484e;

    &:nth-child(2n + 1) {
      margin: 0 0.5rem 0.5rem 0.5rem;
    }

    &--regular {
      background-size: cover;
      cursor: pointer;
    }
  }
}
